/* Body */
body {
    background-color: #2E3532;
    color: #DCE2E0;
}

/* Titres */
h1, h2, h3, h4, h5{
    color: #FF722C !important;
}

/* Marges */
.showArticles {
    margin-top: 70px;
}

.choiceMode {
    margin-top: 70px;
}
.preferenceForm {
    margin-top: 70px;
}

/* Cards */
.card{
    border-radius: 0%;
    background-color: #697A74;
}
.btn{
    border-radius: 0%;
    background-color: #FF722C;
    border-color:#FF722C ;
    color:#2E3532;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.button{
    display: flex;
    justify-content: end;
}

.thirdSubject, .secondSubject, .firstSubject{
    margin-top: 2rem;
}
