/* Body */
body {
    background-color: #2E3532;
    color: #DCE2E0;
    font-family: 'Poppins', sans-serif;
}

/* Style de la Navbar */
#firstNav {
    background-color: #2E3532;
}
.nav-link {
    color: #FF722C;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-logo img {
    width: 100px;
}
.img-logo{
    margin-left:5px;
}
.menu-hamburger{
margin-right: 5px;
}

/* Titres */
h1, h2, h3, h4, h5{
    color: #FF722C !important;
    font-weight: bold;
    text-transform: uppercase;
}

/* Marges */
.showArticles {
    margin-top: 50px;
}
.choiceMode {
    margin-top: 50px;
}
.preferenceForm {
    margin-top: 50px;
}
/* Justification du texte des articles - Page Articles */
.article p {
    text-align: justify;
}

/* Ajout d'un espace entre les articles et la photo */
.articleText {
    margin-top: 30px;
}
/* style des cards */
.card{
    border-radius: 0%;
    background-color: #697A74;
    min-height: 850px;
}


.card-title {
    color: #FF722C !important;
    margin-left: 15px;
}

.card-text {
    text-align: justify;
}
.card-img-top{
    border-radius: inherit;
}

.btn{
    border-radius: 0%;
    background-color: #FF722C;
    border-color:#FF722C ;
    color:#2E3532;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.buttonCard{
    display: flex;
    justify-content: end;
    position:absolute;
    left:-10px;
    top:700px;
    width:100%;
    
}
.btn:hover {
    color: #2E3532;
    background-color:#FF722C;
    border-color: #FF722C;
}
.thirdSubject, .secondSubject, .firstSubject{
    margin-top: 2rem;
}
.subject{
    margin-top: 2rem;
}
/* lien */
a{
    text-decoration: none;
}

/* Ajout du thème clair */
.light-theme {
    background-color: #697A74;
}

/* Style du bouton - Pages */
.article a {
    text-align: -webkit-center;
}
.article a button {
    width: 200px;
}

/* style bouton et page paramètres */
.btn-parameters{
    border-radius: 0%;
    background-color: #FF722C;
    border-color:#FF722C ;
    color:#2E3532;
}
.form-check-label{
    text-transform: capitalize;
}


/* footer */
.footer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
